$osm-water-color: #9fd5e1;

.wp-block-rsvv-openstreetmap {
  position: relative;
  height: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: $osm-water-color;

  .olControlAttribution { /* stylelint-disable selector-class-pattern */
    right: 0.25rem;
    bottom: 0.25rem;
  }
}

.wp-block-rsvv-openstreetmap__loading {
  display: grid;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
  background: $c-primary;

  > span {
    align-self: center;
    height: 2rem;
    color: $c-white;
    line-height: 2rem;
    text-align: center;
  }
}

.wp-block-rsvv-openstreetmap__container {
  position: relative;
  z-index: 1;
  height: 100%;
  transition: opacity 1s ease;
}

.wp-block-rsvv-openstreetmap--hidden {
  opacity: 0;
  pointer-events: none;
}
