.wp-block-rsvv-news-cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
  padding: 0;
  gap: 1rem;
  list-style: none;

  > li {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }

  .news-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    transition: transform 0.2s;
    border-radius: $border-radius-default;
    background: $c-white;
    box-shadow: 0 3px 6px $c-shadow;
    text-decoration: none;

    &:hover {
      transform: scale(1.05);
    }
  }

  .news-card__image {
    display: block;
    width: 100%;
    height: 40vw;
    object-fit: cover;

    @include md-screen-wp {
      height: 16rem;

    }
  }

  .news-card__title {
    display: block;
    padding: 1.5rem 1.5rem 0.5rem;
    color: $c-primary;
    font-size: $font-size-c;
    font-weight: 600;
  }

  .news-card__date {
    display: block;
    padding: 0 1.5rem 0.5rem;
    color: $c-black;
    font-size: $font-size-a;
  }

  .news-card__excerpt {
    display: block;
    padding: 0.5rem 1.5rem 1.5rem;
    color: $c-black;
    font-size: $font-size-a;
  }

  .news-card__cta {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 1.5rem;
    border-top: 1px solid $c-shadow;
    color: $c-primary;
    font-size: $font-size-b;
    font-weight: 600;

    &::after {
      content: "\e5c8";
      display: inline-block;
      height: 2rem;
      /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
      font-family: "Material Symbols Outlined";
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  @include sm-screen {
    grid-template-columns: 1fr 1fr;
  }

  @include md-screen-wp {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
