.wp-block-rsvv-card {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  transition: transform 0.2s;
  border-radius: $border-radius-default;
  background: $c-white;
  box-shadow: 0 3px 6px $c-shadow;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
  }

  @include md-screen-wp {
    width: 20rem;
    max-width: 100%;
  }
}

.wp-block-columns .wp-block-column:first-child .wp-block-rsvv-card {
  @include md-screen-wp {
    margin-left: 0;
  }
}

.wp-block-columns .wp-block-column:last-child .wp-block-rsvv-card {
  @include md-screen-wp {
    margin-right: 0;
  }
}

.wp-block-rsvv-card__image {
  display: block;
  width: 100%;
  height: 40vw;
  object-fit: cover;

  @include md-screen-wp {
    height: 14rem;
  }
}

.wp-block-rsvv-card__name {
  display: block;
  padding: 1.5rem 0;
  color: $c-black;
  text-align: center;
}
