.is-style-rsvv-button a {
  padding: 0.5rem 1.5rem 0.5rem 2rem;
  border: 3px solid $c-primary;
  border-radius: $border-radius-small;
  background-color: $c-primary;
  color: $c-white;
  text-align: left;
  text-decoration: none;

  &::after {
    $icon-size: 1.5rem;

    content: "\e5c8";
    display: inline-block;
    position: relative;
    left: 0;
    width: $icon-size;
    height: $icon-size;
    padding-left: 0.5rem;
    transition-property: left;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Material Symbols Outlined";
    font-size: $icon-size;
    line-height: $icon-size;
    vertical-align: middle;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $c-white;
  }

  &:hover {
    background-color: $c-white;
    color: $c-primary;

    &::after {
      position: relative;
      left: 0.5rem;
    }
  }
}
