.is-style-rsvv-underline::after {
  content: '';
  display: block;
  width: 25%;
  height: 0.25rem;
  margin-top: 1rem;
  background-color: $c-rsvv-yellow;
  white-space: pre;
}

.is-style-full-width-background {
  @include support-full-width-background-colors;
}
