.wp-block-media-text {
  gap: 1rem 5rem;
  line-height: 1.5;

  @include support-full-width-background-colors;
}

.wp-block-media-text img,
.wp-block-media-text__media {
  border-radius: $border-radius-default;
}

.wp-block-media-text .wp-block-media-text__content {
  padding: 0;
}
