.block-editor-block-list__block.wp-block-rsvv-news-cards {
  grid-template-columns: 1fr;

  .news-card:hover {
    transform: none;
  }

  .news-card__cta {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 1.5rem;
    border-top: 1px solid $c-shadow;
    color: $c-primary;
    font-size: $font-size-b;
    font-weight: 600;

    &::after {
      $icon-size: 2rem;

      content: "";
      width: $icon-size;
      height: $icon-size;
      background: url('../../images/arrow-forward-primary.svg') no-repeat center;
      color: $c-white;
      line-height: $icon-size;
      vertical-align: middle;
    }
  }
}
