

.is-style-rsvv-button div {
  padding: 0.5rem 1.5rem 0.5rem 2rem;
  border: 3px solid $c-primary;
  border-radius: $border-radius-small;
  background-color: $c-primary;

  &::after {
    $icon-size: 1.5rem;

    content: "";
    display: inline-block;
    position: relative;
    left: 0;
    width: $icon-size;
    height: $icon-size;
    padding-left: 0.5rem;
    background: url('../../images/arrow-forward-white.svg') no-repeat center;
    color: $c-white;
    line-height: $icon-size;
    vertical-align: middle;
  }
}
