/* Load essential variables first */
@import "breakpoints";
@import "mixins";
@import "colors";
@import "font-sizes";
@import "variables";

/* WordPress Gutenberg block styles */
@import "blocks/block-card";
@import "blocks/block-news-cards";
@import "blocks/block-openstreetmap";
@import "blocks/button";
@import "blocks/styles";
@import "blocks/wp-block-group";
@import "blocks/wp-block-media-text";

/* Theme specific styles */
@import "footer";
@import "header";
@import "headings";
@import "icons";
@import "language-switcher";
@import "menu";
@import "page";
@import "schedule-table";

/* Generic style */
html {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: 'auto';
  -moz-osx-font-smoothing: 'auto';
}

.main {
  @include container;
}

.hidden {
  display: none;
}

/* Featured image */
.wp-post-image {
  width: 100%;
  height: auto;
  min-height: 16rem;
  object-fit: cover;
  aspect-ratio: auto;
}

p {
  line-height: 2;
}
