/* stylelint-disable media-query-no-invalid */
$screen-large: 70rem; /* 1120px */
$screen-medium: 56rem; /* 896px */
$screen-medium-wordpress: 781px;
$screen-small: 30rem; /* 480px */

@mixin sm-screen {
  @media (min-width: #{$screen-small}) {
    @content;
  }
}

/* Medium devices according to wordpress gutenberg and up */
@mixin md-screen-wp {
  @media (min-width: #{$screen-medium-wordpress}) {
    @content;
  }
}

/* Medium devices and up */
@mixin md-screen {
  @media (min-width: #{$screen-medium}) {
    @content;
  }
}

/* Large devices and up */
@mixin lg-screen {
  @media (min-width: #{$screen-large}) {
    @content;
  }
}
