$c-primary: #3564ac;
$c-primary-dark: #25477C;
$c-primary-hover: #6786b4;

$c-black: #000;
$c-grey: #CDCDCD;
$c-grey-light: #F0F0F0;
$c-white: #FFF;

$c-rsvv-light-blue: #D8E3F3;
$c-rsvv-yellow: #E2A621;

$c-shadow: #00000042;
