.editor-styles-wrapper {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: 'auto';
  -moz-osx-font-smoothing: 'auto';

  .is-root-container {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
  }

  /* stylelint-disable no-invalid-position-at-import-rule */
  @import "app";
  @import "editor/block-card-editor.scss";
  @import "editor/block-news-cards-editor.scss";
  @import "editor/button-editor.scss";
  /* stylelint-enable no-invalid-position-at-import-rule */
}
