.footer {
  display: flex;
  position: relative;
  top: -1px; /* Solve 1px white background issue */
  flex-direction: column;
  width: 100%;
}

.footer__hero {
  display: flex;
  justify-content: center;
  height: 30rem;
  padding: 0 1rem;
  background: url('../images/zaal-vredenburght.jpg') center/cover no-repeat;
}

.footer__signup {
  display: grid;
  position: relative;
  top: 15rem;
  box-sizing: border-box;
  align-self: center;
  height: fit-content;
  max-height: 22rem;
  margin: 0 1rem;
  padding: 2rem !important; /* stylelint-disable-line declaration-no-important */ /* Overide padding from container */
  overflow: hidden;
  grid-template-columns: 1fr;
  gap: 2rem;
  border-radius: $border-radius-default;
  background-color: $c-white;

  @include container;


  @include sm-screen {
    grid-template-columns: 1fr 1fr;
  }

  @include md-screen-wp {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2rem 3rem;
  }
}

.footer__signup-cta {
  display: grid;

  > div {
    display: grid;
    align-self: center;
    gap: 1rem;
  }

  h2 {
    color: $c-primary;
    font-size: $font-size-b;

    @include md-screen-wp {
      font-size: $font-size-c;
    }
  }

  h2, p {
    margin: 0;
  }

  p {
    @include sm-screen {
      font-size: 0.8rem;
    }

    @include md-screen-wp {
      font-size: 1rem;
    }
  }
}

.footer__signup-logo {
  display: none;

  @include md-screen-wp {
    display: block;
    align-self: center;
    width: 100%;
  }
}

.footer__signup-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  @include sm-screen {
    width: auto;
  }

  @include md-screen-wp {
    width: max-content;
  }
}

.footer__menu-container {
  padding-bottom: 3rem;
  background: linear-gradient(0deg, $c-primary-dark 0%, $c-primary 100%);
}

.footer__menu {
  display: grid;
  margin-top: 5rem;
  padding-top: 12rem;
  grid-template-columns: 1fr;
  gap: 3rem;

  @include container;

  @include sm-screen {
    grid-template-columns: 1.5fr 1fr;
    gap: 5rem 2rem;
  }

  @include md-screen {
    grid-template-columns: 1.5fr 1fr 1fr;
  }
}

.footer__header {
  color: $c-white;
  font-size: $font-size-c;
}

.footer__header-slogan {
  width: 65%;
  line-height: 2;
}

.footer__menu-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: $c-white;
}

.footer__menu--socials {
  display: flex;
  gap: 1rem;
}

.social-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  transition: all 300ms ease;
  color: transparent;

  &::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    transition: all 300ms ease;
    background-color: $c-white;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &:focus {
    outline: 2px solid $c-white;
    outline-offset: 4px;
  }

  &:hover::before {
    background-color: $c-rsvv-yellow;
  }

  &.social-icon--facebook::before {
    mask-image: url('../images/facebook-icon.svg');
  }

  &.social-icon--instagram::before {
    mask-image: url('../images/instagram-icon.svg');
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-details__item {
  display: flex;

  a,
  a:visited {
    display: inline-block;
    transition: all 300ms ease;
    color: $c-white;
    text-decoration: none;

    &:hover {
      color: $c-rsvv-yellow;
    }
  }

  em {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }

  &.contact-details__item::before {
    content: '';
    align-self: center;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    background: $c-white;
  }

  &.contact-details__item--address {
    margin-bottom: 1rem;

    &::before {
      mask-image: url('../images//location-icon.svg');
    }
  }

  &.contact-details__item--phone::before {
    align-self: flex-start;
    margin-top: 2px;
    mask-image: url('../images//phone-icon.svg');
  }

  &.contact-details__item--email::before {
    margin-top: 2px;
    mask-image: url('../images//mail-icon.svg');
  }
}
