.header {
  margin-top: 3.75rem;

  @include md-screen {
    margin-top: 6.25rem;
  }
}

.header-nav {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 3.75rem;
  background-color: $c-white;
  box-shadow: 0 3px 10px #00000075;

  @include md-screen {
    height: 6.25rem;
  }
}

/* When a user is logged in to WordPress */
.admin-bar .header-nav {
  top: 46px;

  @include md-screen-wp {
    top: 2rem;
  }
}

.header-nav__content {
  display: flex;
  justify-content: end;
  gap: 2rem;
  height: 3.75rem;

  @include container;

  @include md-screen {
    height: 6.25rem;
  }
}

.header-nav__site {
  margin: 1rem auto 1rem -0.5rem;
  padding: 0 0.5rem;
  overflow: hidden;
  color: $c-primary;
  font-size: $font-size-b;
  font-weight: 600;
  line-height: 1.75rem;
  text-decoration: none;

  @include md-screen {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: $font-size-d;
    line-height: 3.25rem;
  }
}

.header-page-hero {
  width: 100%;
  max-height: 30rem;
  background-size: cover;
  background-position-x: center;
  aspect-ratio: 30/9;
}
