.menu__language-switcher {
  $icon-size: 1.25rem;

  display: flex;
  height: 2rem;
  background: $c-white url('../images/globe-icon.jpg') no-repeat left center / $icon-size $icon-size;
  font-size: $font-size-b;

  .language-switcher__link {
    $language-height: 1.125rem;

    position: relative;
    top: calc(50% - ($language-height + 0.5rem)/2);
    height: $language-height;
    padding: 0.25rem;
    color: $c-black;
    line-height: $language-height;
    text-decoration: none;

    &:first-child {
      margin-right: 0.25rem;
      margin-left: 1.5rem;

      &::after {
        content: "";
        display: block;
        position: relative;
        top: -1rem;
        left: 0.50rem;
        height: 1rem;
        border-right: 1px solid $c-black;
      }

      @include md-screen {
        margin-left: 0;
        padding-left: 1.875rem;
      }
    }

    &:last-child {
      margin-left: 0.25rem;
    }

    &:hover {
      color: $c-primary;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 2px;
    }

    &.language-switcher__link--active {
      font-weight: 700;
    }
  }

  @include md-screen {
    position: initial;
    order: 1;
    width: initial;
    height: initial;
  }
}
