/* stylelint-disable no-descending-specificity */
.header-nav__menu-button {
  z-index: 2;
  width: 2.75rem;
  height: 2.75rem;
  margin: 0.5rem -0.5rem 0.5rem 0.5rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: $font-size-d;
  line-height: 2.75rem;
  cursor: pointer;

  &::after {
    content: "\e5d2";
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Material Symbols Outlined";
  }

  @include md-screen {
    display: none;
  }
}

.header-nav__menu-button--opened::after {
  content: "\e9bd";
}

.header-nav__menu {
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  box-sizing: border-box;
  flex-direction: column;
  width: 16rem;
  max-width: 100vw;
  padding: 1rem;
  transition: ease-in-out 0.25s opacity;
  border-bottom: 1px solid $c-primary;
  border-left: 1px solid $c-primary;
  opacity: 0;
  background: $c-white;
  gap: 1rem;

  &.header-nav__menu--visible {
    visibility: visible;
    opacity: 1;
  }

  @include md-screen {
    visibility: visible;
    position: initial;
    flex-direction: row;
    width: initial;
    padding: 0;
    transition: none;
    border: none;
    opacity: 1;
  }
}

/* Wordpress rendered navigation */
.menu__primary {
  position: relative;
  left: -0.25rem;

  .nav {
    margin: 0;
    padding: 0;

    .menu-item {
      list-style-type: none;

      a,
      a:visited {
        padding: 0.25rem;
        color: $c-primary;
        line-height: 2.5rem;
        text-decoration: none;

        @include md-screen {
          line-height: 6.25rem;
        }
      }

      a:hover {
        color: $c-primary;
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-thickness: 2px;
      }

      &.menu-item-has-children {
        $chevron-size: 0.75rem;

        position: relative;

        > a {
          margin-right: 1rem;

          &::after {
            content: '\e5cf';
            position: absolute;
            top: 2px;
            width: $chevron-size;
            height: $chevron-size;
            /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
            font-family: "Material Symbols Outlined";
            font-size: $font-size-c;
          }
        }

        .sub-menu {
          display: none;
          width: max-content;
          padding: 0.5rem 1rem;
          background: $c-white;;

          .menu-item {
            height: 2.5rem;

            a {
              line-height: 2.5rem;
            }
          }

          @include md-screen {
            display: none;
            position: absolute;
            top: 5rem;
          }
        }

        &:hover > .sub-menu {
          display: block;
        }

        .sub-menu--visible {
          display: block;
        }
      }

      &.menu-item-has-children:hover > a::after,
      &.menu-item-has-children.menu-item--opened > a::after {
        content: '\e5ce';
      }
    }

    @include md-screen {
      display: flex;
      gap: 1rem;
      font-size: $font-size-b;
    }
  }

  @include md-screen {
    position: initial;
    order: 0;
    width: initial;
  }
}

.menu__footer .nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  gap: 0.8rem;
  list-style: none;

  .menu-item a,
  .menu-item a:visited {
    transition: all 300ms ease;
    color: $c-white;
    text-decoration: underline 0.5px $c-white;
    text-underline-offset: 4px;

    &:hover {
      color: $c-rsvv-yellow;
      text-decoration: underline 2px $c-rsvv-yellow;
    }

    &:focus {
      outline: 2px solid white;
      outline-offset: 4px;
    }
  }
}
