@mixin full-width-background-color($color) {
  box-shadow: 0 0 0 100vmax $color;
  clip-path: inset(0 -100vmax);
}

@mixin support-full-width-background-colors {
  &.has-black-background-color {
    @include full-width-background-color($c-black);
  }

  &.has-rsvv-blue-background-color {
    @include full-width-background-color($c-primary);
  }

  &.has-rsvv-light-blue-background-color {
    @include full-width-background-color($c-rsvv-light-blue);
  }
}

@mixin container {
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
