.page-header {
  padding-top: 3rem;
}

.page-header__title::after {
  content: '';
  display: block;
  width: 10rem;
  height: 0.25rem;
  margin-top: 1rem;
  background-color: $c-rsvv-yellow;
  white-space: pre;
}

.home {
  .page-header {
    position: relative;
    padding-top: 1rem;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 8rem;
      height: 8rem;
      background: url('../images/rsvv-logo.png') center / 100% no-repeat;

      @include md-screen-wp {
        top: -8rem;
        width: 16rem;
        height: 16rem;
      }
    }

    h1 {
      margin: 0;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      padding-left: 10rem;
      color: $c-primary;
      font-weight: 600;
      line-height: 3rem;

      @include md-screen-wp {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 18rem;
      }
    }

    @include md-screen-wp {
      height: 8rem;
    }
  }

  .page-header__title::after {
    display: none;
  }
}
