.schedule-container {
  border-radius: $border-radius-default;
  box-shadow: 0 3px 6px $c-shadow;
}

.schedule {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 0 5rem;
  gap: 2rem;
  background-color: $c-grey-light;

  @include full-width-background-color($c-grey-light);

  @include md-screen-wp {
    grid-template-columns: 2fr 1fr;
  }
}

.schedule-title {
  position: relative;
  height: 1.5rem;
  margin: 0;
  padding: 1rem 1.5rem;
  background: $c-primary;
  color: $c-white;
  font-size: $font-size-a;
  line-height: 1.5rem;

  &:hover {
    transition: background-color 0.25s linear;
    background-color: $c-primary-dark;
    cursor: pointer;
  }

  &::after {
    $icon-size: 1.5rem;

    content: "";
    position: absolute;
    right: 1.5rem;
    width: $icon-size;
    height: $icon-size;
    transition: transform 0.2s ease-in-out;
    background-color: $c-white;
    mask: url('../images/keyboard-arrow-forward.svg') no-repeat center;
    line-height: 1.5rem;
  }
}

.schedule-table-container {
  max-height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
}

.schedule-day--opened {
  .schedule-title::after {
    transform: rotate(90deg);
  }

  .schedule-table-container {
    max-height: 1000px;
    transform: scaleY(1);
    transition:
      max-height 0.5s ease-in-out,
      scale 0.5s ease-in-out;
  }
}

.schedule-table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  border-radius: $border-radius-default;

  tbody {
    display: block;

    @include md-screen-wp {
      display: table-row-group;
    }
  }

  @include md-screen-wp {
    display: table;
  }
}

.schedule-table__head {
  display: block;

  th { /* stylelint-disable-line no-descending-specificity */
    position: absolute;
		top: -9999px;
		left: -9999px;

    @include md-screen-wp {
      position: initial;
      padding: 0.5rem 1.5rem;
      background: #e7eef8;
      font-size: 0.8rem;
      text-align: left;
    }
  }

  @include md-screen-wp {
    display: table-row;
  }
}

.schedule-table__activity {
  display: block;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid $c-grey;
  background-color: $c-white;

  td {
    display: inline-block;

    @include md-screen-wp {
      display: table-cell;
      position: initial;
      padding: 1rem 1.5rem;
      font-size: 0.8rem;
    }
  }

  .schedule-table__activity-time {
    display: inline-block;
    width: 8rem;

    @include md-screen-wp {
      display: table-cell;
    }
  }

  .schedule-table__activity-activity {
    display: inline-block;

    @include md-screen-wp {
      display: table-cell;
    }
  }

  .schedule-table__activity-trainer {
    display: none;

    @include lg-screen {
      display: table-cell;
    }
  }

  .schedule-table__activity-location {
    display: block;
    padding-left: 8.5rem;

    @include md-screen-wp {
      display: table-cell;
      padding-left: 1.5rem;
    }
  }

  @include md-screen-wp {
    display: table-row;
  }
}

.activity-label {
  @include md-screen-wp {
    display: none;
  }
}

.schedule-day {
  &:first-child {
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;

    .schedule-title {
      border-top-left-radius: $border-radius-default;
      border-top-right-radius: $border-radius-default;
    }
  }

  &:not(.schedule-day--opened):last-child .schedule-title {
    border-bottom-left-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;
  }

  &:last-child {
    border-bottom-left-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;

    .schedule-table__activity:last-child td {
      &:first-child {
        border-bottom-left-radius: $border-radius-default;
      }

      &:last-child {
        border-bottom-right-radius: $border-radius-default;
      }
    }
  }
}

.schedule-table__head-time {
  width: 5rem;
}

.schedule-table__head-activity {
  width: 6rem;
}

.schedule-table__head-audience {
  width: 5rem;
}

.schedule-table__head-trainer {
  display: none;
  width: 5rem;

  @include lg-screen {
    display: table-cell;
  }
}

.schedule-notes {
  position: relative;
  padding: 3rem 1rem 1rem;
  border-radius: $border-radius-default;
  background: $c-white;
  box-shadow: 0 3px 6px $c-shadow;

  &::before {
    $icon-size: 1.5rem;

    content: "";
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: $icon-size;
    height: $icon-size;
    transition: transform 0.2s ease-in-out;
    background-color: $c-primary;
    mask: url('../images/info.svg') no-repeat center;
    line-height: 1.5rem;
  }
}

.schedule-notes h2 {
  margin: 0 0 1rem;
  color: $c-primary;
  font-size: $font-size-b;
}
